services:
  order-spring:
    build: .
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    networks:
      - postgres_db
      - infra_api_gateway
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}" ]
    networks:
      - postgres_db
  redis:
    image: redis:latest
    ports:
      - '6379'
networks:
  postgres_db:
    driver: bridge

  infra_api_gateway:
    external: true