{% extends "base.html" %}

{% block content %}
  <h1>Sobre a Gente</h1>
  <p>
    Bem-vindo à nossa página! Somos uma equipe dedicada a oferecer os melhores serviços e produtos para nossos clientes.
    Nosso objetivo é sempre superar expectativas e criar experiências memoráveis.
  </p>
  <p>Estamos comprometidos com a qualidade, inovação e satisfação do cliente. Obrigado por nos visitar!</p>
  <a href="https://github.com/TRACKIO-DELIVERY/trackio/wiki">
    <h4>Visite o nosso projeto no Github</h4>
  </a>
{% endblock content %}
